.ui {
  position: absolute;
  z-index: 1000;
  width: 100%;
  height: 100%;
  pointer-events: none;
  display: grid;
  grid-template-areas:
    "header header header"
    ". center ."
    ". . .";
  grid-template-rows: 95px auto auto;

  > .scenario {
    grid-area: center;
    pointer-events: all;
    margin-top: 100px;
    background-color: #303030;

    .content {
      padding: 10px;
      display: flex;
      flex-direction: column;

      p {
        width: 500px;
        max-width: 90vw;
      }
      > * {
        margin: 20px;
      }
    }
  }

  > .header {
    max-width: 100vw;
    grid-area: header;
    pointer-events: all;
    background-color: #303030;
    display: grid;
    grid-template-areas: "center center right";

    .next-feature {
      grid-area: center;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 40px;
      font-weight: bold;
    }

    .timer {
      grid-area: right;
    }
  }
}
