<div *ngIf="gameStatus$ | async as gameStatus" class="ui">
  <ng-container>
    <div class="header">
      <div class="next-country">{{ (currentCountry$ | async)?.name }}</div>
      <div class="timer">
        <button mat-raised-button (click)="endGame()">Give Up</button>
        <app-timer
          *ngIf="
            gameStatus === GameStatus.STARTED ||
            gameStatus === GameStatus.FINISHED
          "
          [active]="gameStatus !== GameStatus.FINISHED"
        ></app-timer>
      </div>
    </div>
  </ng-container>

  <app-panel *ngIf="gameStatus === GameStatus.LOBBY" class="scenario">
    <app-panel-title><span>World Countries</span></app-panel-title>

    <div class="content">
      <div>
        <mat-button-toggle-group [formControl]="gameDifficultyControl">
          <mat-button-toggle [value]="GameDifficulty.EASY"
            >Easy</mat-button-toggle
          >
          <mat-button-toggle [value]="GameDifficulty.MEDIUM"
            >Medium</mat-button-toggle
          >
          <mat-button-toggle [value]="GameDifficulty.HARD"
            >Hard</mat-button-toggle
          >
        </mat-button-toggle-group>
      </div>
      <p *ngIf="gameDifficulty === GameDifficulty.EASY">
        EASY: All countries outline are shown and fill in map as you progress.
      </p>
      <p *ngIf="gameDifficulty === GameDifficulty.MEDIUM">
        MEDIUM: All countries outline are shown but already identified states
        are not shown.
      </p>
      <p *ngIf="gameDifficulty === GameDifficulty.HARD">
        HARD: No outline, good luck!
      </p>
      <button mat-raised-button color="primary" (click)="startGame()">
        Start
      </button>
    </div>
  </app-panel>
  <app-panel *ngIf="gameStatus == GameStatus.FINISHED" class="scenario">
    <app-panel-title><span>Finished!</span></app-panel-title>
    <div class="content">
      <p>Time: {{ time$ | async | durationToFormat: "mm:ss" }}</p>
      <p>Score: {{ score$ | async }}</p>
      <a mat-raised-button color="primary" [routerLink]="['./world-countries']">
        Retry
      </a>
    </div>
  </app-panel>
</div>
<div *ngFor="let layer of layers$ | async" [leafletLayer]="layer"></div>
