<div class="ui">
  <ng-container>
    <div class="header">
      <div class="next-state">{{(currentState$ | async)?.name}}</div>
      <app-timer *ngIf="gameStarted$ | async" [active]="!(gameFinished$ | async)" class="timer"></app-timer>
    </div>

  </ng-container>

  <app-panel *ngIf="!(gameStarted$ |async)" class="scenario">
    <app-panel-title><span>US States</span></app-panel-title>

    <div class="content">
      <p>Identify each states.</p>
      <button mat-raised-button color="primary" (click)="startGame()">
        Start
      </button>
    </div>
  </app-panel>
</div>
<div *ngFor="let layer of layers$ | async" [leafletLayer]="layer"></div>
