<div class="ui">
  <div *ngIf="currentScenario" class="back">
    <a mat-raised-button [routerLink]="['']" (click)="currentScenario = ''"
      >Back</a
    >
  </div>
  <app-panel *ngIf="!currentScenario" class="scenarios">
    <app-panel-title><span>Carto Wizard</span></app-panel-title>
    <mat-nav-list>
      <a
        mat-list-item
        *ngFor="let scenario of scenarioList"
        [routerLink]="[scenario.id]"
        (click)="currentScenario = scenario.id"
        >{{ scenario.name }}
      </a>
    </mat-nav-list>
  </app-panel>
</div>
<div
  class="map"
  leaflet
  [leafletOptions]="options"
  (leafletMapReady)="onMapReady($event)"
>
  <router-outlet></router-outlet>
</div>
