.container {
  margin-top: 100px;
  max-width: 900px;
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 2px 2px black;

  .extract {
    display: flex;

    img {
      width: 150px;
    }

    div {
      padding: 2em;
    }
  }
}
.modes {
  max-width: 900px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  .mode {
    width: 350px;
    margin: 50px;
    > div {
      padding: 1em;
      background-color: white;
      box-shadow: 5px 5px 20px black;
    }
  }
}
