.ui {
  position: absolute;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(#ffffff, 0.75);
  z-index: 2000;
  padding-top: 100px;
  box-sizing: border-box;
  overflow-y: auto;
  @media screen and (max-height: 500px) {
    padding-top: 20px;
  }
}
