:host {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  span {
    display: block;
    padding: 25px;
    box-shadow: 5px 5px 5px rgba(black, 0.5);
    background-color: #303030;
    font-size: 30px;
    font-weight: bold;
  }
}
